#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	acceleration: 3
	cronFile: %wwwDir%/cron.txt
	queueFile: %wwwDir%/queue.json

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Model\AcceptanceTesterFactory
	- @App\Model\AcceptanceTesterFactory::getAcceptanceTester
	- App\Model\Game\GalaxyBrowser
	- App\Model\Game\SignManager(user: %user%, password: %password%)
	- App\Model\Game\UpgradeManager
	- App\Model\Game\BuildManager
	- App\Model\PageObject\Menu
	- App\Model\Queue\QueueConsumer
	- App\Model\ResourcesCalculator(acceleration: %acceleration%)
	- App\Model\Game\PlanetManager
	- App\Model\CronManager(%cronFile%)
	- App\Model\Queue\QueueManager
	- App\Model\Queue\QueueFileRepository(queueFile: %queueFile%)
	- App\Forms\FormFactory
	- App\Model\Game\Menu
	- {class: App\Presenters\DashboardPresenter, setup: {setCronFile(%cronFile%)}}
	- {implement: App\Components\IDisplayCommandFactory}
	- App\Model\DatabaseManager
	- App\Model\UpgradeStoragesPreProcessor
	- App\Model\Game\FleetManager
	- App\Model\Game\PlayersProber

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	monolog: Kdyby\Monolog\DI\MonologExtension

monolog:
	hookToTracy: off
	name: serverLogger
	handlers:                                                                   #aby správně fungovaly handlery a braly pouze své události, musí být registrovány od nejnižšího po nejvyšší
		main: Monolog\Handler\FingersCrossedHandler(
			Monolog\Handler\StreamHandler(%appDir%/../log/bot.log, Monolog\Logger::DEBUG),
			Monolog\Logger::DEBUG
		)

console:
	commands:
		- App\Commands\TestCommand
		- App\Commands\ProcessQueueCommand

doctrine:
    types:
        carbondatetime:         App\Model\Mapping\CarbonDateTimeType
        playerstatus:			App\Model\Type\PlayerStatusType