#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	acceleration: 3
	cronFile: %wwwDir%/cron.txt

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Model\AcceptanceTesterFactory
	- @App\Model\AcceptanceTesterFactory::getAcceptanceTester
	- App\Model\GalaxyBrowser
	- App\Model\SignManager(user: %user%, password: %password%)
	- App\Model\BuildingsManager
	- App\Model\PageObject\Menu
	- App\Model\QueueConsumer
	- App\Model\ResourcesCalculator(acceleration: %acceleration%)
	- App\Model\PlanetManager
	- App\Model\CronManager(%cronFile%)

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

console:
	commands:
		- App\Commands\TestCommand
		- App\Commands\ProcessQueueCommand

doctrine:
    types:
        carbondatetime:         App\Model\Mapping\CarbonDateTimeType