{layout 'layout.latte'}
{block content}
	Only with statuses: {$command->getStatusTexts()|implode:', '}<br/>
	Only with probing statuses: {$command->getProbingStatusTexts()|implode:', '}<br/>
	Limit: {$command->getLimit()}

