{layout 'layout.latte'}
{block content}
	To: {$command->getTo()}, Mission: {$command->getMission()}<br/>
	Wait for resources: {$command->waitForResources() ? 'yes' : 'no'}<br/>
	Speed: {$command->getSpeed()}%<br/>
	Fleet: {$command->getFleet()->toArray()|implodeAssoc:',',':'}
{/block}

{block edit}
	<a class="btn btn-info" href="{plink ManageCommands:sendFleet, uuid => $command->getUuid()->toString()}">Edit</a>
{/block}
