{block content}
	<a n:href="enhance" class="btn btn-primary">Upgrade and build</a>
	{*<a n:href="form, commandAction => 'upgrade building'" class="btn btn-primary">Upgrade building</a>*}
	{*<a n:href="form, commandAction => 'upgrade research'" class="btn btn-primary">Upgrade research</a>*}
	{*<a n:href="form, commandAction => 'build ships'" class="btn btn-primary">Build ships</a>*}
	{*<a n:href="form, commandAction => 'build defense'" class="btn btn-primary">Build defense</a>*}
{/block}
