{block content}
	<a n:href="enhance" class="btn btn-primary">Upgrade and build</a>
	<a n:href="scanGalaxy" class="btn btn-primary">Scan galaxy</a>
	<a n:href="probePlayers" class="btn btn-primary">Probe players</a>
{/block}
