body {
    padding-top: 100px;
}

.dashboard-queue > div:nth-child(odd) {
    background: #ffffff;
}

.dashboard-queue > div:nth-child(even) {
    background: #e0e0e0;
}

.up-down-arrows > p {
    margin-bottom: 0;
}